@charset "utf-8";
/* CSS Document */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0; font-size:12px; vertical-align: baselinebaseline; background: transparent;}   
*{margin:0; padding:0;}
ol,ul{ list-style: none;}
.cl{clear:both; height:0; font-size:0px; width:0; line-height:0} 
body{ font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","宋体",sans-serif; color:#646464; background:#F6F6F6; }
a{text-decoration:none;}
img{ padding:0; margin:0;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}* html .clearfix{height:1%;}.clearfix{display:block;}

.head,.footer{ min-width:1000px; height:auto; overflow:hidden;}
.head{ border-bottom:4px solid #e3e3e3; background:#FFF; }
.head_top,.head_top_body{ height:30px;}
.head_top{ width:100%; height:30px; background:#f5f5f5; border-bottom:1px solid #edecec;}
.head_top_body{ width:1000px; margin:0 auto;}
.head_top_body h4,.head_top_body p{ display:inline-block; font-size:12px;}
.head_top_body h4{ float:left; font-weight:normal; font-size:12px; color:#f15922;}
.head_top_body p{ float:right;}
.head_top_body h4 span{ color:#929999; line-height:30px; font-weight:normal; padding-right:8px;}
.head_top_body h4 a{ color:#f76921; line-height:30px; font-weight:normal; padding-right:8px;}
.head_top_body p a{ display:inline-block; height:30px; color:#929999; line-height:30px;}
.head_top_body p span{ display:inline-block; height:30px; line-height:30px; color:#b4b4b4; padding:0 4px;}
.head_top_body p a:hover,.head_top_body h4 a:hover{ color:#f15922; text-decoration:underline;}
/*.head_mid{ width:1000px; height:auto; overflow:hidden; margin:0 auto;}
.logo{ float:left; width:400px; height:95px;}
.nav{ float:left; width:600px; height:95px;}
.nav a{ display:inline-block; float:right; margin-left:34px; height:47px; font-family:"微软雅黑"; font-size:15px; color:#666; margin-top:20px; line-height:47px;}
.nav_focus{ border-bottom:3px solid #f47a50; color:#f15922;}
.nav a:hover{ border-bottom:3px solid #f47a50; color:#f15922;}
.nav span{ display:block; width:28px; height:17px; background:url(../images/hot-014.png) no-repeat; position:absolute; margin-left:270px; margin-top:18px;}
*/
.head_mid{ width:1000px; height:100px; margin:0 auto;clear: both;}
.head-h1{ margin: 0 0 0 0;float: left;}
.head-h1rght{float:right;margin-top:25px;}
.head-h1rght .intxt{float:left;padding-left: 14px;width:370px; height:38px; line-height:38px; border:solid 1px #dfdfdf;}
.head-h1rght .insearch{float:left;cursor:pointer; width:44px; height:36px;border:none;background:url(../images/head-search.jpg) no-repeat;position: relative;z-index: 99999;}
.head-h1rght .search-wrap {height: 36px;}
.head-h1rght .search-wrap a {float: left;display: block;height: 35px;line-height: 35px;text-align: center;color: #fff;font-weight: bold}
.head-h1rght .input-wrap {border: 3px solid #ff6633;border-right: 0;height: 30px;width: 346px;float: left;position: relative;font-family: \5b8b\4f53;}
.head-h1rght .input-wrap .input {border: 0;height: 20px;float: left;width: 236px;padding: 5px 10px;color: #666;font-size: 12px;line-height: 19px;vertical-align: middle;background-color: #fff}
.head-h1rght .input-wrap .opt {width: 90px;height: 30px;color: #666;float: left;position: relative;background: #fafafa;cursor: pointer}
.head-h1rght .input-wrap .opt span {line-height: 30px;padding-left: 15px;font-size: 12px;font-family: \5b8b\4f53;font-weight: bold;color: #ff6633;}
.head-h1rght .input-wrap .opt .icon {background: url(../images/index-searchm.gif) no-repeat;position: absolute;right: 8px;top: 15px;width: 5px;height: 3px;font-size: 0}
.head-h1rght .input-wrap .opt .icon.reverse {background: url(../images/index-searchm.gif) bottom no-repeat}
.head-h1rght .opt-drop {position: absolute;width: 90px;height: auto;padding: 4px 0px 9px 0;border: 3px solid #ff6633;border-top: 0;background: #fff;left: -3px;top: 30px;z-index: 9999999999999;}
.head-h1rght .opt-drop li {list-style: none;color: #eb651a;cursor: pointer;height: 24px;line-height: 24px;text-align: center;vertical-align: middle}
.head-h1rght .opt-drop li a {width: 100%;height: 100%;display: block;text-align: left;color: #eb651a;line-height: 24px}
.head-h1rght .input-wrap  .opt-drop li a span{ font-weight: normal;color: #666666;}
.head-h1rght .input-wrap  .opt-drop li a:hover span{ font-weight: normal;color: #ff6633;}
.hotsearch{line-height:30px;color:#999999;}
.hotsearch a{ color: #999999;margin: 0 10px 0 2px;}
.hotsearch a:hover{ color: #ff6633;text-decoration: none;}
/*导航*/
.logo{ float:left; width:400px; height:95px;}
.head-nav-frame{width: 100%; height: 45px;background: #f6f6f6;border-bottom: solid 2px #ff6633;}
.head-nav-frame .nav{margin: 0 auto; width:1000px;height: 45px;background: #f6f6f6; }
.head-nav-frame .nav li{position: relative;  margin: 0 2px 0 0 ;}
.head-nav-frame .nav li.hy{ width:103px;margin-right:0;}
.head-nav-frame .nav li.hy a{padding-left: 40px; width:63px;height:45px;line-height:45px; background: url(../images/index-mhy.png) no-repeat 19px 17px;background-color:#dfdfdf; color: #ff6633;font-size: 12px; font-family:"微软雅黑";}
.head-nav-frame .nav li.hy a:hover,.head-nav-frame .nav li.hy a.on{ text-decoration: none;background: url(../images/index-mhyh.png) no-repeat 19px 17px;background-color: #ff6633; color:#ffffff; }
.head-nav-frame .nav a{display:block; height: 45px; background:none;cursor: pointer;}
.head-nav-frame .nav a span{ display:block;line-height: 45px;height: 45px;width: 145px;text-align: center;  font-family:"微软雅黑"; font-size:15px; color:#333333;font-weight: normal; }
.head-nav-frame .nav a:hover,.head-nav-frame .nav a.nav_focus{display:block;line-height: 45px;}
.head-nav-frame .nav a:hover span,.head-nav-frame .nav a.nav_focus span{font-weight: bold; display:block;line-height: 45px;width: 145px;text-align: center;  font-family:"微软雅黑"; font-size:15px; color:#ffffff;background:#ff6633; }
.head-nav-frame .nav a .num{ color: #ff6633;font-style: normal;font-size: 15px;font-weight: bold;}
.head-nav-frame .nav a:hover .num,.head-nav-frame .nav a.nav_focus .num{ color: #ffffff;font-style: normal;font-size: 15px;}
.head-nav-framebt{min-width: 1000px; width: 100%;height: 4px; background: url(../images/head-nav-bt.png) repeat-x;}
.nav li span.new{ display:block; width:23px; height:23px; background:url(../images/head-new.png) no-repeat; position:absolute;top:-15px;left: 60px; }

.top_new_tel{ display:inline-block; height:30px; background:url(../images/top_new_tel_721.png) no-repeat center left; text-indent:20px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#df2816; line-height:30px; }
.top_new_tel img{ padding-top:4px; padding-right:5px;}

#goTopBtn {
	POSITION: fixed; TEXT-ALIGN: center; LINE-HEIGHT: 30px; WIDTH: 30px; BOTTOM: 40px; HEIGHT: 33px; FONT-SIZE: 12px; CURSOR: pointer; RIGHT: 40px; _position: absolute; _right: auto
}

.top_icon_tel,.top_icon_about,.top_icon_home,.top_icon_mark{ display:inline-block; padding-left:15px; margin-left:15px;}
.top_icon_tel{ background:url(../images/index_top_icon_tel.png) no-repeat center left;}
.top_icon_about{ background:url(../images/index_top_icon_about.png) no-repeat center left;}
.top_icon_home{ background:url(../images/index_top_icon_home.png) no-repeat center left;}
.top_icon_mark{ background:url(../images/index_top_icon_mark.png) no-repeat center left;}


.footer{ width:100%; height:auto; margin-top:30px; overflow:hidden;}
.footer_top{ height:auto; background:#464646; padding:20px 0; border-bottom:1px solid #383838; overflow:hidden;}
.footer_top_body{ width:1000px; height:auto; margin:0 auto; overflow:hidden;}
.footer_btm{ height:auto; background:#3b3b3b; border-top:1px solid #525050; overflow:hidden;}
.footer_logo{ float:left; width:184px; height:170px; border-right:1px solid #5c5c5c;}
.footer_section{ display:block; float:left; width:160px; height:170px; border-left:1px solid #383838; border-right:1px solid #5c5c5c;}
.footer_tel{ float:left; width:200px; height:170px; border-left:1px solid #383838;}
.footer_tel img{ display:block; width:40px; height:40px; margin-top:16px; margin-left:73px;}
.footer_tel h3{ height:44px; font-family:"微软雅黑"; line-height:44px; font-size:22px; color:#e6e6e6; text-align:center; font-weight:normal;}
.footer_tel span{ display:block; height:20px; line-height:20px; font-family:"微软雅黑"; font-size:12px; color:#999; text-align:center; }
.footer_weixin{ float:left; width:128px; height:170px;}
.footer_weixin img{ display:block; width:108px; height:106px; margin-top:16px; margin-left:20px;}
.footer_weixin span{ display:block; height:26px; font-family:"微软雅黑"; color:#999999; font-size:12px; text-indent:30px; line-height:26px;}
.section_title{ width:130px; height:45px; font-family:"微软雅黑"; font-size:16px; color:#E6E6E6; line-height:45px; margin-left:25px;}
.section_item{ width:130px; height:auto; overflow:hidden; margin-left:25px;}
.section_item a{ display:block; height:26px; line-height:26px; font-family:"微软雅黑"; color:#999999; font-size:12px;}
.section_item a:hover{ color:#FFF;}
.footer_btm div{ width:1000px; height:auto; margin:0 auto; text-align:center; font-family:"微软雅黑"; font-size:12px; color:#7c7c7c; padding:1em; overflow:hidden;}
.footer_btm div a{ color:#7c7c7c;}

